@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
}

.logo-light {
    background-image: url('/logo-white.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-dark {
    background-image: url('/logo-black.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}